[core]
	editor = /usr/local/bin/vim
        # disabled vv below to setup badoom commit hooks vv
	# hooksPath = /Users/tim.jarratt/workspace/git-hooks-core
[transfer]
	fsckobjects = true
[init]
	templateDir = /Users/tim.jarratt/.git_templates
[alias]
	gst = git
	st = status
	di = diff
	co = checkout
	ci = duet-commit
	cp = cherry-pick
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	amendit = commit --amend --no-edit
	unstage = reset HEAD
	rum = rebase master@{u}
	gst = git
	gst = git
	gst = git
	gst = git
	gst = git
	gst = git
	gst = git
[user]
	email = tjarratt@gmail.com
	name = Tim Jarratt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
